@import "tailwindcss";





/* style for added blogs */


/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    width: 85%;
    margin-top: 30px;
}  */